<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Seleção de 2002</title>
    <link rel="stylesheet" href="./../css/ronaldo.css" />
    <script src="https://kit.fontawesome.com/a451098362.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div id="Hnome" onclick="window.location.href='./index.html'">
            <h1 id="Hnominho"> GABRIEL CORREA </h1>
        </div>
        <button class="caminhos" id="hobbies" onclick="window.location.href='./hobbies.html'">
            <h2 class="caneta">Hobbies</h2>
        </button>
    </header>
    <section>
        <div id="foto">
            <img id="imagem" src="https://static1.purepeople.com.br/articles/3/37/79/43/@/4339647-ronaldo-fenomeno-tem-46-anos-580x0-3.jpg" />
        </div>
        <div id="texto">
            <button id="botao_texto" onclick="window.location.href='./midias.html'">
                <h2 class="caneta"> midias </h2>
            </button>
        </div>
    </section>
    <footer>
        <div id="china">
            <h1>MADE IN CHINA</h1>
            <h2> 安康鱼牛仔内衣 - 扑出奥利弗·汗 罗纳尔迪尼奥 篮板球 进球 进球来自巴西</h2>
        </div>
    </footer>
</body>

</html>